*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background: rgb(37, 37, 37);
}

header{
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0);;
}
.cabecera{
    max-width: 1270px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    
}

.btn-volver img{
    display: flex;
    width: 40px;
    height: auto;
    margin: 0px 10px 0px 10px;
    padding: 5px;
}
.btn-volver:hover{
    transform: scale(.90);
    cursor: pointer;
}


h1{
    width: 100%;
    padding: 10px 20px;
    color: rgb(255, 163, 51)
}



main{
    width: 100%;
    max-width: 1270px;
    margin: auto;
    padding-top: 70px;
}



.contenedorIBA027{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
      
}

.explicacion{
    width: 50%;
    height: auto;
}

.img-IBA027{
    width: 90%;
    padding: 10px;
}

.img-Tirano-Pigmeo{
    width: 30%;
    padding: 10px;
}

.img-El-Aguila-Coronado{
    width: 30%;
    padding: 10px;
}


h2{
    padding: 10px 10px;
    margin-left: 10%;
    color: rgb(255, 163, 51)
}
.texto-1{
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: rgb(192, 192, 192);
    text-align: justify;
    width: 30%;
    height: auto;
}

.texto-2{
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: rgb(192, 192, 192);
    text-align: justify;
    width: 80%;
    height: auto;
}

hr{
    border: none;
    margin-top: 20px;
    height: 1px;
    background:rgb(255, 163, 51);
}

.enlaces{
    padding: 5px 20px;
    text-decoration: none;
    color: rgb(24, 24, 24);
    background: rgb(255, 163, 51);
    border-radius: 5px;
    display: flex;
    width: 60%;
}

.enlaces:hover{
    background: rgb(250, 180, 95);
    transform: scale(.98);
}


@media all and (max-width: 1000px){

    main{
        width: 100%;
        max-width: 1270px;
        margin: auto;
        padding-top: 100px;
    }
    
    .explicacion{
        width: 100%;
        height: auto;
    }
    .img-IBA027{
        width: 90%;
        margin: auto;
        display: flex;
        padding: 10px;
    }
    
    .img-Tirano-Pigmeo{
        width: 90%;
        margin: auto;
        display: flex;
        padding: 10px;
    }

    .img-El-Aguila-Coronado{
        width: 90%;
        margin: auto;
        display: flex;
        padding: 10px;
    }
    
    h2{
        padding: 10px 10px;
        margin-left: 2%;
        color: rgb(255, 163, 51)
    }
    .texto-1{
            padding: 5px 20px;
            font-size: 12px;
            text-align: center;
            color: rgb(192, 192, 192);
            text-align: justify;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
    }
    
    .enlaces{
        padding: 5px 20px;
        text-decoration: none;
        color: rgb(24, 24, 24);
        background: rgb(255, 163, 51);
        border-radius: 5px;
        
        display: flex;
        width: 70%;
    }
    
    .enlaces:hover{
        background: rgb(250, 180, 95);
        transform: scale(.98);
    }

 
    
}