*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background: rgb(37, 37, 37); 
}

header{
    width: 100%;
    height: 100px;
    position: fixed; 
    z-index: 100; 
}


.container-header{
    width: 100%;
    height: 90px;
    background: rgb(255, 163, 51);
    
}

.container-logo-title{
    max-width: 1270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    padding: 5px;
}

.container-logo-title img{
    width: 120px;
    height: 80px;
}

.container-logo-title .logo-direccion{
    width: 80px;
    height: 80px;
}

.container-logo-title h1{
    font-size: 40px;
    margin-top: 18px;
    margin-left: 10px;
}

/* estilos del menu */
.container-menu{
    padding-top: 0px;
    width: 100%;
    background: rgb(0, 0, 0);
}

.menu{
   display: flex;
    width: 100%;
    max-width: 1270px;
    margin: auto;
    justify-content: center;
    
}

.menu ul{
    display: flex;
   
}

.menu ul li{
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 163, 51);
  padding: 10px 20px;
  border: 1px solid transparent;
  border-top: 3px solid transparent;
  transition: border 300ms;
  position: relative;

}

.menu > ul > li:hover{
    border: 1px solid rgb(168, 168, 168);
    border-top: 3px solid rgb(255, 163, 51);
    cursor: pointer;
}
 
.menu ul li span{
    font-size: 10px;
}

/* estilos submenu */

.menu ul li ul {
    width: 250px;
    position: absolute;
    top: 36px;
    left: 0;
    flex-direction: column;
    border: 1px solid rgb(136, 136, 136);
    background: rgb(39, 39, 39);
    border-bottom: 2px solid rgb(255, 163, 51);
    padding: 10px;
}

.menu ul li ul li {
    border-bottom: 1px solid rgb(255, 163, 51); 
    font-weight: 100;
 
    padding: 5px;
    background: rgb(92, 92, 92);
    text-decoration: none;
    color: rgb(233, 233, 233);
    font-size: 14px;
}



.menu ul li ul :hover{
    background: rgb(122, 122, 122);
    color: #fff;
}

.icon-menu{
    display: none;
}
ul li ul li a{
    display: flex;
    text-decoration: none;
    color: rgb(204, 204, 204);
    padding: 5px;
}

.contacto{
    color: rgb(255, 163, 51);
    text-decoration: none;
}


.titulo-principal{
    color: rgb(255, 163, 51);
    text-align: center;
    padding-top: 5px;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    max-width: 1270px;
    background: rgb(37, 37, 37); 
    border-bottom: 1px solid rgb(255, 163, 51);
    font-size: 25px;
}



/* estilos del main */
main{
    width: 100%;
    max-width: 1270px;
    margin: auto;
    padding-top: 165px;
}


hr{
    border: none;
    margin-top: 20px;
    height: 1px;
    background:rgb(255, 163, 51);
}

/* estilos de contenedor de sitios */

.contenedor_sitios{
    width: 100%;
    max-width: 1270px;
    margin: auto;
}
.descripcion_sitios div{
    display: block;
    /* background:rgba(102, 102, 102, 0.37); */
 
}

.cont_1{
    width: 100%;
   
}
.cont_1 img{
    width: 100%;
}

.cont_1 p{
    width: 100%;
    font-size: 14px;
    text-align: justify;
    color: rgb(156, 156, 156);
    padding: 5px;
}

.cont_2{
    width: 100%;
    height: auto;
   
    
}
.cont_2 img{
    width: 65%;
}
.cont_2 p{
    width: 90%;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
    background: crimson;
    margin: auto;
    border-radius: 3px;
}

.cont_3 p{
    width: 100%;
    font-size: 14px;
    text-align: justify;
    color: rgb(156, 156, 156);
    padding: 5px;
}

.cont_4 img{
    width: 40%;
    margin: auto;
}
.cont_4 p{
    width: 100%;
    font-size: 14px;
    text-align: justify;
    color: rgb(156, 156, 156);
    padding: 5px;
}
.cont_5 a{
    text-decoration: none;
    color: black;
    background: rgb(255, 164, 45);
    padding: 5px;
    margin: 5px;
    width: 90%;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
}

.cont_5 a:hover{
    color: rgb(0, 0, 0);
    background: rgb(255, 182, 87);
}

.cont_6 img{
    width: 40%;
    margin: auto;
}
.cont_6 p{
    width: 100%;
    font-size: 14px;
    text-align: left;
    color: rgb(156, 156, 156);
    padding: 5px;
}
.cont_7 p{
    width: 95%;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
    background: crimson;
    margin: auto;
    border-radius: 3px;
}


/* sector de estilos del menu de sitios grid */
.contenedor_menu_sitios{
    width: 100%;
    max-width: 1270px;
    margin: auto;
}

.areas_botones{
    display: block;
    background:rgb(156, 156, 156);
    padding: 3px;
    
}
.imagen_sitios{
    width: 20%;
    border-radius: 3px;
}

.txt_menu_sitios{
    text-align: center;
    font-size: 15px;
}

/* flexbox grid */
.areas_botones1{
    width: 100%;
    margin:5px;
    
}

/* botones del menu de sitios */
.entrar-sitios{
    text-decoration: none;
    color: rgb(34, 34, 34);
    background: rgb(255, 164, 45);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    width: 100%;
    border-radius: 3px;
}

.entrar-sitios:hover{
    color: rgb(0, 0, 0);
    background: rgb(255, 182, 87);
}


/* estilos del footer */
footer{
    width: 100%;
    height: 40PX;
    max-width: 1270px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(255, 164, 45);
    background: rgb(156, 156, 156);
    align-items: center;
    margin: auto;
}

.contacto-inferior{
    font-size: 12px;
    color: black;
    text-decoration: none;
    text-align: center;
}

/* pantalla responsive */
@media screen and (max-width: 1000px){
  
    header{
        width: 100%;
        height: 50px;
    }
    
    .container-header{
        width: 100%;
        height: 50px;
        background: rgb(255, 163, 51);
        position: fixed;
        z-index: 100;
    }

    .container-logo-title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin:auto;
        padding: 5px;
    }
    .container-logo-title img{
        width: 60px;
        height: 40px;
    }

    .container-logo-title .logo-direccion{
        width: 40px;
        height: 40px;
    }
   .container-logo-title h1{
       font-size: 20px;
       margin-top: 6px;
     
   }

    .icon-menu{
        display: block;
        position: absolute;
        right: 10px;
        top: 50px;
        font-size: 30px;
        color: rgb(218, 218, 218);
        cursor: pointer;
    }

    body{
        transition: all 300ms;
    }

    .body2{
        transform: translateX(-300px);
    }

    .container-menu{
        padding-top: 50px;
        width: 100%;
        margin: auto;
        background: transparent;
    }
    
    .menu{
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -300px;
        background: rgb(0, 0, 0);
        margin-top: 0px;
        overflow-y: scroll; 
    }

    .menu ul{
        flex-direction: column; 
    }

    .menu ul li{
        padding: 10px 20px;
        background: rgb(24, 24, 24);
        font-size: 20px;
        color: rgb(255, 153, 0);
    }

    .menu ul li ul{
        top: 0;
        border-bottom: 1px solid transparent; 
    }

    .menu ul li:hover{
        border: 1px solid transparent;
        border-top: 3px solid transparent;
        background: rgb(0, 0, 0);
    }

    .menu ul li ul
    {
       width: 100%;
        position: relative;
        background: rgb(120, 121, 121);
        padding: 2px;
    }

    .menu ul li ul li{
        font-size: 18px;
        color: antiquewhite;
    }

    .menu ul li ul li:hover{
        background: rgb(105, 105, 105);
    }

    .titulo-principal{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    }

main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-top: 85px;
}   

.img-portada{
    width: 100%;
 }

.texto_sitios{
 margin: 10px;
 width: 100%;
 }

.texto_sitios p{
    font-size: 14px;
    padding-bottom: 10px;
    text-align: justify;
    color: rgb(161, 161, 161);  
}



/* estilos del footer */
footer{
    width: 100%;
    height: 40PX;
 
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(255, 164, 45);
    background: rgb(156, 156, 156);
    align-items: center;
    margin: auto;
}
}